<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Animal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="animal_form">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name='name'>
            </div>
            <div class="form-group">
              <label for="pic">Picture</label>
              <input type="text" class="form-control" id="pic" name='pic'>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="textarea" class="form-control" id="description" name='description'>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-new-animal">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        <%= link_to "Home", root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "New Animal", new_animal_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-toggle="modal" data-target="#exampleModal">Another new animal</button>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<script type="text/javascript">
  // function formToJSON( selector ) {
  //   var form = {};
  //   $(selector).find(':input[name]:enabled').each( function() {
  //     var self = $(this);
  //     var name = self.attr('name');
  //     if (form[name]) {
  //       form[name] = form[name] + ',' + self.val();
  //     }
  //     else {
  //       form[name] = self.val();
  //     }
  //  });
  //   return form;
  // }
  document.addEventListener("DOMContentLoaded", () => {
    function formToJSONB( selector ) {
      // const formEntry = document.querySelector(selector);
      // console.log(formEntry);
      formObject = {};
      const formInputs = document.querySelectorAll(selector + ' input:enabled');
      // console.log(formInputs);
      for (let i=0; i<formInputs.length; i += 1) {
        // console.log("i is ", i)
        console.log('name',formInputs[i].name,'value',formInputs[i].value);
        formObject[formInputs[i].name] = formInputs[i].value;
      }
      return formObject;
    }
    // var token = $( 'meta[name="csrf-token"]' ).attr( 'content' );
    const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
    // console.log('csrfToken',csrfToken);
    const submitButton = document.querySelector("#submit-new-animal");
    submitButton.addEventListener('click', () => {
      let aData = JSON.stringify(formToJSONB("#animal_form"));
      aData = `{"animal": ${aData}}`

      xhr = new XMLHttpRequest();
      xhr.open("POST","<%= animals_path %>");
      xhr.setRequestHeader('X-CSRF-Token',csrfToken);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.setRequestHeader("Accept", "application/json");
      // xhr.responseType = "json";
      // console.log("aData",aData)
      xhr.onreadystatechange = () => {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          // console.log("xhr status", xhr.status);
          // console.log("xhr.reponseText", xhr.responseText);
          // console.log("xhr.statusText", xhr.statusText);
          if (xhr.status === 0 || (xhr.status>=200 && xhr.status < 400)) {
            alert("The animal record was succesfully added.");
            // need to dismiss the dialog and remove the modal open backdrop
            // also need to refresh the page
            // maybe just refresh the page?
            window.location.reload();
          } else {
            alert("The animal record could not be created. " + xhr.responseText);
          }
        }
      };
      xhr.send(aData);
    });

    // $.ajaxSetup( {
    //   beforeSend: function ( xhr ) {
    //     xhr.setRequestHeader( 'X-CSRF-Token', token );
    //   }
    // });
    // $('#submit-new-animal').on('click', function(e){
    //     // formToJSONB("#animal_form")
    //     aData = JSON.stringify(formToJSONB("#animal_form"));
    //     aData = `{"animal": ${aData}}`
    //     $.ajax({
    //         url: '<%# = animals_path %>', //this is the submit URL
    //         type: 'POST',
    //         data: aData,
    //         contentType: "application/json",
    //         dataType: "json",
    //         success: function(data){
    //           alert('The animal record was successfully added.');
    //           $('#exampleModal').remove();
    //           $(".modal-backdrop").remove();
    //           $('body').removeClass('modal-open');
    //           window.location.reload();
    //         },
    //         error: function(jqXHR, status, error) {
    //           alert("The animal record could not be created. " + jqXHR.responseText);
    //         }
    //     });
    // });
});
</script>
